body {
    background-color: black;
}
.judul h2 {
    font-family: verdana;
    color: white;
}
.buttonadd {
    background-color: red;
    color: white;
    font-family: georgia;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.produk table {
    background-color: darkgrey;
    font-family: geotgia;
}
.produk img {
    width: 150px;
    height: 200px;
}