body {
    background-color: black;
}
.judul h2 {
    font-family: verdana;
    color: white;
}
.judul span {
    color: red;
    margin-left: 20px;
}
#button {
    padding-left: 800px;
    margin-top: -50px;
    margin-bottom: 50px;
}
.buttonadd {
    background-color: red;
    color: white;
    font-family: georgia;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.produk table {
    background-color: darkgrey;
    font-family: georgia;
    padding: 10px 10px 0px 10px;
    display: inline-block;
}
.produk img {
    width: 200px;
    height: 250px;
}
.produk button {
    background-color: red;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 200px;
}
.produk span {
    font-family: arial;
    color: white;
    margin-bottom: -5px;
}
.produk h6 {
    color: grey;
    font-family: georgia;
    padding-left: 150px;
    margin-top: -15px;
}
.produk h5 {
    color: red;
    font-family: verdana;
    margin-bottom: -5px;
}