body {
    background-color: black;
}
.judul h2 {
    font-family: verdana;
    color: white;
}
table {
    background-color: darkgrey;
    font-family: geotgia;
}
img {
    width: 200px;
    height: auto;
}